<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fatecgarca.minicursoandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        
        android:theme="@style/AppTheme" >
        <activity 
            android:name="PrincipalActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="Sao_Paulo"
            android:label="@string/sp">
        </activity>
        <activity android:name="Salvador"></activity>
        <activity android:name="Rio"></activity>
        <activity android:name="Recife"></activity>
        <activity android:name="Porto_Alegre"></activity>
        <activity android:name="Curitiba"></activity>
        <activity android:name="Belo_Horizonte"></activity>
        
    </application>

</manifest>